
@import "elements/vars.sass"
@import "elements/libs.sass"

::placeholder
    color: #666

::selection
    color: #fff
    background-color: $accent

body
    font-family: 'Roboto', sans-serif
    font-size: 16px
    line-height: 1.65
    position: relative
    overflow-x: hidden
    min-width: 320px
    color: $text


